# This is Git's per-user configuration file.
[user]
	name = Ian Vu
	email = iaanvuu@gmail.com

# Work-specific config for repositories in ~/dev/work/
[includeIf "gitdir:/Users/ivu/dev/work/**"]
    path = /Users/ivu/.gitconfig-work

[push]
  # Automatically set up remote for pushing
	autoSetupRemote = true

############################################
# Git diff things
############################################

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    ; navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta]
    side-by-side = true
    ; line-numbers-right-format = "{np:>4}│"
    ; line-numbers-left-format = "{np:>4}│"
    ; line-numbers-left-style = grey
    ; line-numbers-right-style = grey
    line-numbers-right-format = "{np:>4} "
    line-numbers-left-format = "{np:>4} "
    # Hide the chunk header
    hunk-header-style = omit
