/ssh/id_rsa
aws/credentials
/aws/credentials
aws/config
/aws/config
/raycast/extensions
.DS_Store
/.config/raycast/extensions
/.config/karabiner/automatic_backups

# Neovim ignores
.config/nvim/tt.*
.config/nvim/.tests
.config/nvim/doc/tags
.config/nvim/debug
.config/nvim/.repro
.config/nvim/foo.*
.config/nvim/*.log
.config/nvim/data
.config/nvim/lazy-lock.json
.config/nvim/lua/config/keymaps.lua
.config/nvim/spell/en.utf-8.add
.config/nvim/spell/en.utf-8.add.spl

# Tmux ignores
.config/tmux/plugins

# Brew lockfile 
Brewfile.lock.json

# Mac things
**/.DS_Store
