/ssh/id_rsa
aws/credentials
/aws/credentials
aws/config
/aws/config
/raycast/extensions
.DS_Store
/.config/raycast/extensions
/.config/karabiner/automatic_backups

.config/nvim/.github
.config/nvim/lazy-lock.json

**/.DS_Store
