"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      enabled: false
    plugins:
      playAudio: false
      screenShake: false
    screenShake:
      enabled: false
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "atom-runner":
    paneSplitDirection: "Down"
  autosave:
    enabled: true
  core:
    audioBeep: false
    automaticallyUpdate: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "spell-check"
      "platformio-ide"
      "platformio-ide-debugger"
      "platformio-ide-terminal"
      "nuclide"
      "tool-bar"
      "activate-power-mode"
      "linter"
      "linter-ui-default"
      "build"
      "busy"
      "atom-runner"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    telemetryConsent: "no"
    titleBar: "hidden"
  editor:
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "af3a5c9c-dc57-4fca-a3d3-6c9f437333b0"
  "file-icons": {}
  fonts: {}
  "highlight-line":
    enableBackgroundColor: false
    enableSelectionBorder: true
  "highlight-selected": {}
  "linter-ui-default":
    panelHeight: 69
    useBusySignal: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "opened-files":
    highlightOnHover: false
  "tool-bar":
    position: "Right"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-clipboard-plus":
    useVimModePlus: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    flashOnMoveToOccurrence: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    keymapPToPutWithAutoIndent: true
    showHoverSearchCounter: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 150
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 150
    stayOnDelete: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
